<link href="http://fonts.googleapis.com/css?family=Engagement" rel="stylesheet" type="text/css">
<div class="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>  
</div>  

<!-- NAVBAR
  ================================================== -->
  <div class="navbar-wrapper cbp-af-header">
    <div class="container">

      <!-- Fixed navbar -->
      <div class="navbar cbp-af-inner" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          
            <a class="scroll" style="margin-left: 19%;" href="#intro"><%= image_tag "logo1.png" %></a>
             <h6 style="color:white; font-family: 'Eras light ITC'; background-color: rgba(51,51,51,0.4);"><b>Working for your knowledge</b></h6>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#about">Inicio</a></li>
              <li><a href="#featured1">Servicios</a></li>
            
               


              <!--<li><a href="#featured2">Algomas</a></li>-->
              <li class ="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  CURSOS<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#testimonials" class="tab" data-toggle="tab">Lenguajes</a></li>
                  <li><a href="#businesscourses" class="tab" data-toggle="tab">Negocios y MBAs</a></li>
                  <li><a href="#sports" class="tab" data-toggle="tab">Deportes, Arte y Diseño</a>
                  </li>
                   <li><a href="#intecno" class="tab" data-toggle="tab">IT, Salud y Turismo</a></li>
                </ul>
              </li>






              <li class="hidden-sm hidden-md"><a href="#gallery">Galeria</a></li>

              <li class ="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Lenguaje<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Español", home_page_path(locale: :es) %>
                  </li>
                  <li>
                    <%= link_to "Ingles", home_page_path(locale: :en), class: "tab", "data-toggle" => "tab" %>
                  </li>
                </ul>
              </li>





              <!--<li class="hidden-sm hidden-md"><a href="#testimonials">Testimonios</a></li>-->            
             <!-- <li><a class="signup" href="#singup">Contáctanos</a></li>-->
            </ul>
          </div>

        </div>

      </div>

    </div>

  </div>



<!-- Hero Banner
  ================================================== -->
  <div id="intro">
    <div class="item background-cover" style="background: url('<%= image_url 'b2.png' %>')">
      <div class="container">
        <div class="row">
          <div class="carousel-caption-center colour-white">
            <h1 style= "font-family: 'Engagement', cursive;">Aston House College</h1>
            <h4 style="margin:-1.5% 0; font-size:1.3em;">Empresa de Estudios en el Exterior</h4> <br />
            <!--<p>Tus examenes, con el instituto CAMBRIDGE, desde el BRITISH COUNCIL en Colombia.</p>-->
           <!-- <p><a class="btn btn-lg btn-primary signup" href="#singup" role="button">Contáctanos</a></p>-->
          </div>
        </div>
      </div>
      <div class="overlay-bg"></div>
      
    </div>
  </div>

<!-- About Section
  ================================================== -->

  <section id="about" class="light with-bg">

    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 overlay-text">

            <h2 style="text-align:center; margin-top:5%;"><%= t("titulo")%></h2>
            <p style="text-align: justify; background-color: rgba(243, 87, 53, .9); border-radius:10px; padding: 10px 10px 10px 10px; color: white; "> ASTON HOUSE COLLEGE-EMPRESA DE ESTUDIOS EN EL EXTERIOR S.A.S  es una empresa que ofrece planes académicos en el exterior de alta calidad, tales como inglés para extranjeros, inglés de negocios, otros idiomas, un programa especial para profesores de idiomas, plan quinceañeras, cursos de verano para menores de edad, pregrados y postgrados.
              ASTON HOUSE COLLEGE-EMPRESA DE ESTUDIOS EN EL EXTERIOR S.A.S, nace como una organización de experiencias académicas en Europa, Asia y América del Norte, después de 5 años de una buena y estrecha experiencia laboral con STANTON SCHOOL OF ENGLISH, empresa que nos respalda totalmente y con la que seguiremos trabajando como sus agentes para el suroccidente de Colombia. 

            </p>
          
        </div>

        <div class="col-sm-12">
         <!-- <div class="col-sm-6 text-center overlay-text">
           <!--<h2 style="font-size:1.8em; margin-top:21.5%">QUÉ TENEMOS PARA TI...</h2>
         </div>-->
          <div class="col-sm-4 text-center overlay-text icons">
          <div class="icon-wrapper">
            <i class="fa fa-book icon-large"></i>
          </div>
          <h3>IDIOMAS</h3>
            <p>Cursos de idiomas en el exterior</p>
          </div>

          <div class="col-sm-4 text-center overlay-text icons">
            <div class="icon-wrapper">
              <i class="fa fa-book icon-large"></i>
            </div>
            <h3>EDUCACION SUPERIOR</h3>
            <p>Pregrados y posgrados en el exterior</p>
          </div>

          <div class="col-sm-4 text-center overlay-text icons">
            <div class="icon-wrapper">
              <i class="fa fa-globe icon-large"></i>
            </div>
            <h3>BECAS</h3>
            <p> Recibe apoyo para financiar tus estudios</p>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay-bg light"></div>

  </div>
</section>

<!--OFFSET BOOTS: col-sm-1 col-sm-offset-1-->
<!-- Featured Sections
  ================================================== -->

<section id="featured1" class="dark with-bg">


   <div class="container">
    
    <div class ="row">
    <div class="col-sm-12 overlay-text1">
    <h2 style="font-size: 2.5em; margin-top:5%;">Conoce nuestra amplia gama de servicios</h2>
    </div>
      <div class="col-sm-5 col-sm-offset-1 overlay-text">
        
<!--Beginning of panel group-->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne1">
                  Preparamos todos los documentos necesarios!
                  <span class="caret"></span>
                </a>
              </h4>
            </div> <!--end panel-heading-->


             <div id="collapseOne1" class="panel-collapse collapse in">
              <div class="panel-body" style="text-align: justify">
                Para realizar un programa académico en el exterior se requiere llevar a cabo una serie de diligencias para cumplir con los requisitos exigidos por los diferentes paises y nosotros estamos listos para ayudarte en esto. 
                
              </div> <!--end panel-body-->  
             </div> <!--end collapseOne1--> 
          </div> <!--end panel-default 1-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
                  Asesoria Gratuita
                </a>
              </h4>
            </div>  <!--end panel-heading-->
            <div id="collapseFive1" class="panel-collapse collapse">
              <div class="panel-body">
                Brindamos ayuda e  información precisa, completa y actualizada  a personas que quieran estudiar en el exterior y puedan tomar decisiones acertadas. Este servicio se brinda de forma gratuita.  
              </div> <!--end panel-body-->
            </div>  <!--end collapseFive1-->
          </div>  <!--end panel-default 5-->
 

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                  Traducción oficial de documentos
                </a>
              </h4>
            </div> <!--end panel-heading 2-->
            <div id="collapseTwo1" class="panel-collapse collapse">
              <div class="panel-body">
                Traducimos documentos expedidos en Colombia o provenientes del exterior. Nuestro servicio de traducción oficial es realizado por traductores inscritos en el Ministerio de Relaciones Exteriores de Colombia, con calidad, a un precio justo y con estricto cumplimiento en su entrega.
              </div> <!--end panel-body-->
            </div>  <!--end collapsetwo1-->
          </div>  <!--end panel-default 2-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                  Traducción no oficial de documentos
                </a>
              </h4>
            </div>  <!--end panel-heading 3-->
            <div id="collapseThree1" class="panel-collapse collapse">
              <div class="panel-body">
                Traducimos documentos del idioma español al idioma inglés y del inglés al español.
              </div> <!--end panel-body-->
            </div>  <!--end collapseThree1-->
          </div>  <!--end panel-default 3-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                  Examenes de certificación del nivel de inglés
                </a>
              </h4>
            </div>  <!--end panel-heading-->
            <div id="collapseFour1" class="panel-collapse collapse">
              <div class="panel-body">
                Te ofrecemos asesoría gratuita con respecto de los exámenes internacionales de inglés como PET, TOEIC, BULATS y IELTS, que están diseñados para aquellos candidatos que desean estudiar y/o trabajar en el exterior. Estas pruebas cubren las cuatro competencias: Escribir, escuchar, hablar y leer.     
              </div> <!--end panel-body-->
            </div>  <!--end collapseFour1-->
          </div>  <!--end panel-default 4-->

          

         </div> <!--end panel-group-->
      </div> <!--end col-sm-7-->


<!--************************************PANEL GROUP TWO **************************************-->
<div class="col-sm-5 overlay-text">
        
<!--Beginning of panel group-->
        <div class="panel-group" id="accordion1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1One1">
                  Hacemos posible tu viaje al conocimiento!
                  <span class="caret"></span>
                </a>
              </h4>
            </div> <!--end panel-heading-->

             <div id="collapse1One1" class="panel-collapse collapse in">
              <div class="panel-body" style="text-align: justify">
                Te asistimos en el proceso de la obtencion de la visa, te asesoramos para la obtencion de becas y créditos para financiar tus estudios y te ayudamos a conseguir tus tíquetes aéreos por medio de nuestros convenios. 
              </div> <!--end panel-body-->  
             </div> <!--end collapseOne1--> 
          </div> <!--end panel-default 1-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1Two1">
                  Visa de estudiante
                </a>
              </h4>
            </div> <!--end panel-heading 2-->
            <div id="collapse1Two1" class="panel-collapse collapse">
              <div class="panel-body">
                Aston House College y Stanton School of English, diligencian y tramitan profesionalmente el proceso de visado de los nacionales colombianos que viajan a adelantar sus estudios en el exterior. En Inglaterra diligenciamos y tramitamos profesionalmente la extensión de la visa Tier-4. 
              </div> <!--end panel-body-->
            </div>  <!--end collapsetwo1-->
          </div>  <!--end panel-default 2-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1Three1">
                  Visa de turista
                </a>
              </h4>
            </div>  <!--end panel-heading 3-->
            <div id="collapse1Three1" class="panel-collapse collapse">
              <div class="panel-body">
                Tramitamos y asesoramos profesionalmente visas de turismo para países europeos, asiáticos y  de América del Norte como Estados Unidos y Canadá.  
              </div> <!--end panel-body-->
            </div>  <!--end collapseThree1-->
          </div>  <!--end panel-default 3-->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1Four1">
                  Créditos y becas de Icetex
                </a>
              </h4>
            </div>  <!--end panel-heading-->
            <div id="collapse1Four1" class="panel-collapse collapse">
              <div class="panel-body">
                Sin ser intermediarios y de forma gratuita informamos sobre los créditos de posgrados y créditos de perfeccionamiento de idiomas en el exterior que ofrece el ICETEX para estudiantes colombianos. Muchos estudiantes nuestros se han beneficiado bajo esta modalidad de préstamos.   
              </div> <!--end panel-body-->
            </div>  <!--end collapseFour1-->
          </div>  <!--end panel-default 4-->



          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1Five1">
                  Tíquetes aéreos
                </a>
              </h4>
            </div>  <!--end panel-heading-->
            <div id="collapse1Five1" class="panel-collapse collapse">
              <div class="panel-body">
                Diligenciamos los tiquetes aéreos a bajo costo, para nuestros estudiantes a través de las compañías aéreas o de la Organización Mundial para las Migraciones OIM.      
              </div> <!--end panel-body-->
            </div>  <!--end collapseFive1-->
          </div>  <!--end panel-default 5-->
         </div> <!--end panel-group-->
      </div> <!--end col-sm-7-->








     <!-- <div class="col-sm-5 text-center">
        <%= image_tag 'thumb3.jpg',
        class:"margin-top img-responsive",
          "alt" =>"Generic placeholder image",
          "data-scrollreveal" => "move 100px and enter from the right after 0.55s",
          "width" =>"429"
          %>
      </div>-->   <!--End col-sm-5-->
      
     </div> <!--end row-->
   </div> <!--end container-->
 <div class="overlay-bg black"></div>
</section>


<!--*********************************************-->

<section id="featured2" class="content text-center light with-bg">
  <div class="page-header text-center">
  <h3>Cursos Cortos</h3></div>
  <div class="container">
    <div class="overlay-bg light"></div>
    <div class ="row">
      <div class="row">
        <div class="col-sm-5 text-center">
          <%= image_tag 'classes.jpg',
          class:"margin-top img-responsive",
            "alt" =>"Generic placeholder image",
            "data-scrollreveal" => "move 100px and enter from the left after 0.55s",
            "width" =>"429"
            %>
          </div>



          <div class="col-sm-7">
            <div class="panel-group" id="accordion">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Año y semestre académico Internacional
                      <span class="caret"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Es un programa de 24 y 36 semanas para bachilleres colombianos que deseen viajar a aprender el idioma inglés. 
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Asesorias para estudiantes
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Obten información precisa, completa y actualizada si quieres estudiar en el exterior, incluyendo exámenes internacionales de inglés. De este modo, podrás tomar decisiones acertadas para tu futuro! 
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      Programa para quinceañeras
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                   Ofrecemos un curso especial de 4 semanas para quinceañeras quienes viajan a estudiar el idioma inglés, participan de actos socio - culturales y conocen los diferentes sitios turísticos de cada país. 
                 </div>
               </div>
             </div>

             <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    Cursos de verano para estudiantes de 12 a 17 años
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  Son programas de vacaciones en instituciones donde estarán bajo el cuidado de personas responsables y podrán disfrutar de la compañía de niños de diferentes nacionalidades del mundo mientras aprenden inglés.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    Teacher Training Program
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  Programa de 4 semanas solo para profesores, donde los profesores podrán capacitarse para enseñar el idioma.
                </div>
              </div>
            </div>

          </div>

        </div>






      </div>
    </div>
  </section>


<!-- Testimonials
  ================================================== -->
  <section id="testimonials" class="dark">

    <div class="page-header text-center">
        <h2>Bienvenido a Popayán!</h2>
    </div>

    <div class="container">

      <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
              <li data-target="#quote-carousel" data-slide-to="3"></li>
              
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-4">
                      <%= image_tag 'pop.jpg'%>
                    </div>
                    <div class="col-sm-4">
                      <%= image_tag 'pop-a.jpg'%>
                    </div>
                     <div class="col-sm-4">
                      <%= image_tag 'pop-b.jpg'%>
                    </div>
                  </div>
                  <p style="text-align:center">" Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!Tus clases serán orientadas en Popayán, una ciudad tranquila y acogedora!"</p>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                 <div class="row">
                    <div class="col-sm-4">
                      <%= image_tag 'pop2.jpg'%>
                    </div>
                    <div class="col-sm-4">
                      <%= image_tag 'pop2-a.jpg'%>
                    </div>
                     <div class="col-sm-4">
                      <%= image_tag 'pop2-b.jpg'%>
                    </div>
                  </div>
                  <p style="text-align:center">"Encontrarás una variedad de espacios naturales que te harán sentirte pleno!"</p>


                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-4 text-center">
                      <%= image_tag 'pop31.jpg'%>
                    </div>
                    <div class="col-sm-8">
                      <p style="text-align:justify">"Habrán también muchos espacios para la diversión! La ciudad cuenta con unas buena variedad de cafes, discotecas, bares, restaurantes y eventos! <br />
                      La escuela programará eventos en cada curso para conocer un poco más la cultura
                      de Colombia mientras practicas el idioma!"</p>
                        
                    </div>
                  </div>

                   <div class="row">
                    <div class="col-sm-4 text-center">
                      <%= image_tag 'pop31.jpg'%>
                    </div>
                    <div class="col-sm-8">
                      <p style="text-align:justify">"Habrán también muchos espacios para la diversión! La ciudad cuenta con unas buena variedad de cafes, discotecas, bares, restaurantes y eventos! <br />
                      La escuela programará eventos en cada curso para conocer un poco más la cultura
                      de Colombia mientras practicas el idioma!"</p>
                        
                    </div>
                  </div>
                  <p></p>
                </blockquote>
              </div>
               <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-6 text-right">
                      <%= image_tag 'pop5.jpg'%>
                    </div>
                    <div class="col-sm-6 text-left">
                      <%= image_tag 'pop6.jpg'%>
                    </div>
                  </div>
                  <p style="text-align:center">"Clases de hasta 10 estudiantes y profesores nativos altamente calificados!"</p>
                </blockquote>
              </div>







            </div>

            <!-- Carousel Buttons Next/Prev -->
            <br />
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control visible-md visible-lg"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control  visible-md visible-lg"><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>











  


<!-- Pricing
  ================================================== -->
  <section id="pricing" class="dark">

   

    <div class="container">
    <div class="page-header text-center">
      <h3>Instituciones</h3>
    </div>

      <div class="row">
        <div class="plans">
         <!-- <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan" data-scrollreveal="enter over 1s">
              <div class="plan-title">
                <h2>South Thames College</h2>
                <h6>Cursos de inglés y pregrados</h6>
              </div>

              <ul class="plan-features">
                <li>Institución pública que ofrece cursos de inglés y otros programas académicos. Permite, además, obtener una visa con permiso para trabajar 10 horas semanales. </li>
                
                <li>12 meses</li>
              </ul>
              <div class="plan-cta">
                <p class="plan-buy"><a href="http://www.south-thames.ac.uk/" target="_blank" class="btn">Quiero ver mas!</a></p>
             </div>
            </div>
          </div>-->

          <div class="col-xs-12 col-sm-6 col-md-9">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
                <h2><strong>Cursos de inglés</strong></h2>

                
              </div>

              <ul class="plan-features">
                <li><strong>New College Manchester</strong> <br /> Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.</li>
                <li><strong>Beet Language Center</strong> <br /> Escuela privada de inglés en Bournemouth Inglaterra, ubicada en la costa sur del país.</li>
                <li><strong>Wessex Academy</strong> <br /> Escuela privada en Poole Inglaterra, región costera del país que cuenta con uno de los puertos marítimos más grandes del mundo.</li>
                <li><strong>Language Studies International - LSI</strong> <br />Escuelas de idiomas en Reino Unido, Estados Unidos, Canadá, Australia, Nueva Zelanda, Suiza, Francia y Malta.</li>
                <li style="background: #f5f5f5; color: #7c7c7c; text-align: center; font-size: 1.3em; font-weight:600;" class="posypre">PREGRADOS Y POSGRADOS</li>
                <li><strong>South Thames College</strong> <br />Institución pública que ofrece cursos de inglés y otros programas académicos. Permite, además, obtener una visa con permiso para trabajar 10 horas semanales. </li>
                

              </ul>


              <div class="plan-cta" style="background-color:#FD795B">
                <p class="plan-buy"></p>
              </div>
              
            </div>
          </div>

         

          <!--<div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
                <h2><strong>CURSO DE ESPAÑOL</strong></h2>
                
              </div>

              <ul class="plan-features">
                <li><strong>Cambridge Language Centre</strong> <br />
                  La mejor escuela de idiomas ubicada en Popayán, Colombia,
                  dictará clases de español a alumnos extrajeros interesados en aprender el idioma.<br/>

                  Nuestro plan de familias anfitrionas, permitirá que las personas que vengan a la ciudad a aprender español, estén completamente cómodas y disfruten su estadía al máximo en la ciudad. 
                </li>
                
                
              </ul>
              <div class="plan-cta" style="background-color:#FD795B">
                <p class="plan-buy"></p>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>

  </section>


<!--Negocios y MBAs
  ===================================================-->

  <section id="businesscourses" class="dark">
    <div class="container">
      <div class="page-header text-center">
        <h3>Instituciones</h3>
      </div>

      <div class="row">
        <div class="plans">
          <div class="col-xs-12 col-sm-6 col-md-9">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
               <h2><strong>Cursos de inglés</strong></h2>
              </div>
              <ul class="plan-features">
              <li><strong>New College Manchester</strong> <br /> Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.</li>
              <li><strong>Beet Language Center</strong> <br /> Escuela privada de inglés en Bournemouth Inglaterra, ubicada en la costa sur del país.</li>
              <li><strong>Wessex Academy</strong> <br /> Escuela privada en Poole Inglaterra, región costera del país que cuenta con uno de los puertos marítimos más grandes del mundo.</li>
              <li><strong>Language Studies International - LSI</strong> <br />Escuelas de idiomas en Reino Unido, Estados Unidos, Canadá, Australia, Nueva Zelanda, Suiza, Francia y Malta.</li>
              <li style="background: #f5f5f5; color: #7c7c7c; text-align: center; font-size: 1.3em; font-weight:600;" class="posypre">PREGRADOS Y POSGRADOS</li>
              <li><strong>South Thames College</strong> <br />Institución pública que ofrece cursos de inglés y otros programas académicos. Permite, además, obtener una visa con permiso para trabajar 10 horas 
              semanales. </li>
            </ul>
            <div class="plan-cta" style="background-color:#FD795B">
              <p class="plan-buy"></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!-- Deportes, arte y diseño
  ================================================== -->
  <section id="sports" class="dark">
    <div class="container">
      <div class="page-header text-center">
        <h3>Instituciones</h3>
      </div>

      <div class="row">
        <div class="plans">
          <div class="col-xs-12 col-sm-6 col-md-9">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
               <h2><strong>Cursos de inglés</strong></h2>
              </div>
              <ul class="plan-features">
              <li><strong>New College Manchester</strong> <br /> Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.</li>
              <li><strong>Beet Language Center</strong> <br /> Escuela privada de inglés en Bournemouth Inglaterra, ubicada en la costa sur del país.</li>
              <li><strong>Wessex Academy</strong> <br /> Escuela privada en Poole Inglaterra, región costera del país que cuenta con uno de los puertos marítimos más grandes del mundo.</li>
              <li><strong>Language Studies International - LSI</strong> <br />Escuelas de idiomas en Reino Unido, Estados Unidos, Canadá, Australia, Nueva Zelanda, Suiza, Francia y Malta.</li>
              <li style="background: #f5f5f5; color: #7c7c7c; text-align: center; font-size: 1.3em; font-weight:600;" class="posypre">PREGRADOS Y POSGRADOS</li>
              <li><strong>South Thames College</strong> <br />Institución pública que ofrece cursos de inglés y otros programas académicos. Permite, además, obtener una visa con permiso para trabajar 10 horas 
              semanales. </li>
            </ul>
            <div class="plan-cta" style="background-color:#FD795B">
              <p class="plan-buy"></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>




<!-- IT, Arts and Tourism
  ================================================== -->

  <section id="intecno" class="dark">
    <div class="container">
      <div class="page-header text-center">
        <h3>Instituciones</h3>
      </div>

      <div class="row">
        <div class="plans">
          <div class="col-xs-12 col-sm-6 col-md-9">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
               <h2><strong>Cursos de inglés</strong></h2>
              </div>
              <ul class="plan-features">
              <li><strong>New College Manchester</strong> <br /> Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.</li>
              <li><strong>Beet Language Center</strong> <br /> Escuela privada de inglés en Bournemouth Inglaterra, ubicada en la costa sur del país.</li>
              <li><strong>Wessex Academy</strong> <br /> Escuela privada en Poole Inglaterra, región costera del país que cuenta con uno de los puertos marítimos más grandes del mundo.</li>
              <li><strong>Language Studies International - LSI</strong> <br />Escuelas de idiomas en Reino Unido, Estados Unidos, Canadá, Australia, Nueva Zelanda, Suiza, Francia y Malta.</li>
              <li style="background: #f5f5f5; color: #7c7c7c; text-align: center; font-size: 1.3em; font-weight:600;" class="posypre">PREGRADOS Y POSGRADOS</li>
              <li><strong>South Thames College</strong> <br />Institución pública que ofrece cursos de inglés y otros programas académicos. Permite, además, obtener una visa con permiso para trabajar 10 horas 
              semanales. </li>
            </ul>
            <div class="plan-cta" style="background-color:#FD795B">
              <p class="plan-buy"></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>






<!-- Gallery
  ================================================== -->
  <section id="gallery" class="light with-bg">

    <div class="page-header text-center">
      <h3>Galeria</h3>
      <!--<h2> Hey! Conoce Popayán!</h2>-->
    </div>

    <div class="container">
      <div class="overlay-bg light"></div>
      <div class="row">
        <div class="col-md-12">
          <div id="owl-example" class="owl-carousel">
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb1.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb1.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb2.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb2.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb3.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb3.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb4.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb4.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb5.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb5.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb6.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb6.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
             <div class="item">
              <a href="<%= image_url 'thumbs/thumb7.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb7.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
             <div class="item">
              <a href="<%= image_url 'thumbs/thumb8.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb8.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>
             <div class="item">
              <a href="<%= image_url 'thumbs/thumb9.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb9.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
              <h1 style="background-color: rgba(51,51,51,0.4); padding: 0 5px; margin-top: -10%; z-index: 100;
              font-size: 1em;"><span >Algo pasa aqui</span></h1>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>










<!-- Call to Action
  ================================================== -->
<!--<section class="cta text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>Start freelancing now.</h2>
        <p><a href="#" class="btn signup" role="button">Get started</a></p>
      </div>
    </div>

  </div>

</section>-->


<!-- Footer
  ================================================== -->
  <footer id="contact" class="footer">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-sm-6 col-md-6">
            <div class="footer-logo">
              <h2>Aston House College</h2>
              <p>Carrera 9 # 18N - 187, Popayán, Cauca<br>+1 (123) 456-7890</p>
              <br>
              <p class="muted">© 2014 Aston House College S.A.S</p>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <a class="icon" href="http://www.twitter.com/Paola_M_Astaiza" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="https://www.facebook.com/pages/STANTON-SCHOOL-OF-ENGLISH/184296251624519?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon" href="http://google.com/+PaolaMorenoAstaiza" target="_blank"><i class="fa fa-google-plus-square"></i></a>
            <a class="icon" href="http://www.workingnomads.co" target="_blank"><i class="fa fa-globe"></i></a>
          </div>


        </div>
      </div>

    </div>

  </footer>

  <div id="login" class="overlay overlay-content">

    <button type="button" class="overlay-close">Close</button>
    <section class="login-part">
      <p class="login-overlay">
        Log In
      </p>
      <form method="post">
        <input class="form-control" type="email" name="u" placeholder="Email" required="required" />
        <input class="form-control" type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Log me in</button>
        <a href="#" class="forgot-pw">Forgot password? We can help!</a>
      </form>
    </section>

  </div>

  <div id="signup" class="overlay overlay-content">

    <button type="button" class="overlay-close">Close</button>
    <section class="login-part">
   <!-- <p class="login-overlay">
      Sign up to Prestige
    </p>-->

    <!--<div id="wufoo-z17c1l8811i1dhl">
      Fill out my <a href="https://paolamastaiza.wufoo.com/forms/z17c1l8811i1dhl">online form</a>.
    </div>
    <script type="text/javascript">var z17c1l8811i1dhl;(function(d, t) {
      var s = d.createElement(t), options = {
        'userName':'paolamastaiza',
        'formHash':'z17c1l8811i1dhl',
        'autoResize':true,
        'width':'450',
        'height':'437',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z17c1l8811i1dhl = new WufooForm();z17c1l8811i1dhl.initialize(options);z17c1l8811i1dhl.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>-->


      </section>

    </div>

   