<link href="http://fonts.googleapis.com/css?family=Engagement" rel="stylesheet" type="text/css">
<div class="preloader">
 <div class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
</div>

<!-- NAVBAR
  ================================================== -->
  <div class="navbar-wrapper cbp-af-header">
    <div class="container">

      <!-- Fixed navbar -->
      <div class="navbar cbp-af-inner" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand scroll" href="#intro">Aston</a></h1>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#about">Inicio</a></li>
            <!-- <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Waiting <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <li><a href="#subtab1" class="tab" data-toggle="tab">Subtab 1</a></li>
            <li><a href="#subtab2" class="tab" data-toggle="tab">Subtab 2</a></li>
            </ul>
          </li>-->





          <li class ="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Servicios<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#featured1" class="tab" data-toggle="tab">Subtab 1</a></li>
              <li><a href="#featured2" class="tab" data-toggle="tab">Subtab 2</a></li>
            </ul>
          </li>

          
          <!--<li><a href="#featured2">Algomas</a></li>-->
          <li><a href="#pricing">Instituciones</a></li>
          <li class="hidden-sm hidden-md"><a href="#gallery">Galeria</a></li>
          <li class="hidden-sm hidden-md"><a href="#testimonials">Testimonios</a></li>            
          <li><a class="signup" href="#singup">Contáctanos</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
</div>


<!-- Hero Banner
  ================================================== -->
  <div id="intro">
    <div class="item background-cover" style="background: url('<%= image_url 'backgrounds/backg1.jpg' %>')">
      <div class="container">
        <div class="row">
          <div class="carousel-caption-center colour-white">
            <h1 style= "font-family: 'Engagement', cursive;">Aston House College</h1>
            <h4 style="margin:-1.5% 0;">Empresa de Estudios en el Exterior</h4> <br />
            <!--<p>Tus examenes, con el instituto CAMBRIDGE, desde el BRITISH COUNCIL en Colombia.</p>-->
            <p><a class="btn btn-lg btn-primary signup" href="#singup" role="button">Contáctanos</a></p>
          </div>
        </div>
      </div>
      <div class="overlay-bg"></div>
    </div>
  </div>

<!-- About Section
  ================================================== -->

  <section id="about" class="dark with-bg">

    <div class="container">

      <div class="row">
        <div class="col-sm-5 overlay-text">
          <div class="vertical-align">
            <h2>QUIENES SOMOS</h2>
            <p style="text-align: justify; background-color: rgba();"> ASTON HOUSE COLLEGE- EMPRESA DE ESTUDIOS EN EL EXTERIOR S.A.S  es una empresa que ofrece planes académicos en el exterior de alta calidad, tales como inglés para extranjeros, inglés de negocios, otros idiomas, un programa especial para profesores de idiomas, plan quinceañeras, cursos de verano para menores de edad, pregrados y postgrados.
              ASTON HOUSE COLLEGE- EMPRESA DE ESTUDIOS EN EL EXTERIOR S.A.S, nace como una organización de experiencias académicas en Europa, Asia y América del Norte, después de 5 años de una buena y estrecha experiencia laboral con STANTON SCHOOL OF ENGLISH, empresa que nos respalda totalmente y con la que seguiremos trabajando como sus agentes para suroccidente de Colombia. 

            </p>
          </div>
        </div>
        

<div class="row">
        <div class="col-sm-6 text-center overlay-text">
         <h2 style="font-size:1.5em">QUÉ TENEMOS PARA TI...</h2>
        </div>

        <div class="col-sm-2 text-center overlay-text icons">
          <div class="icon-wrapper">
            <i class="fa fa-cloud icon-large"></i>
          </div>
          <h3> 
            <a href="#featured1">Cursos de inglés<br /> y español </a>
          </h3>
        </div>

        <div class="col-sm-2 text-center overlay-text icons">
          <div class="icon-wrapper">
            <i class="fa fa-cloud icon-large"></i>
          </div>
          <h3> <a href="#featured1">Pregrados y <br /> Posgrados</a></h3>
        </div>

        <div class="col-sm-2 text-center overlay-text icons">
          <div class="icon-wrapper">
            <i class="fa fa-cloud icon-large"></i>
          </div>
          <h3> <a href="#featured1">Becas <br> Internacionales </a></h3>
        </div>

</div>


      </div>
    </div>

    <div class="overlay-bg black"></div>
  </div>
</section>

<!--OFFSET BOOTS: col-sm-1 col-sm-offset-1-->
<!-- Featured Sections
  ================================================== -->
  <section id="featured1" class="content text-center light">

    <div class="container">
     <div class ="row"><p>Nuestros Servicios</p> </div>
     <div class ="row">


      <div class="col-sm-7">
        <div class="panel-group" id="accordion">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne1">
                  Cursos de inglés
                </a>
              </h4>
            </div>
            <div id="collapseOne1" class="panel-collapse collapse in">
              <div class="panel-body">
                Cursos de inglés en reconocidas instituciones en Inglaterra, Canadá, Australia, Nueva Zelanda y Estados Unidos. 
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                  Cursos de otros idiomas
                </a>
              </h4>
            </div>
            <div id="collapseTwo1" class="panel-collapse collapse">
              <div class="panel-body">
               A través de nuestras instituciones aliadas, ofrecemos cursos de italiano, francés, ruso, alemán, chino y japonés.
             </div>
           </div>
         </div>

         <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                Cursos de español para extranjeros
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
             Nuestro nuevo objetivo, la enseñanza del español como lengua extranjera, en clases casi personalizadas y en un ambiente académico cultural en el Instituto Cambridge Language Centre de Popayán Colombia.
             Los estudiantes extranjeros de AHC podrán gozar de la belleza de la ciudad más culta de Colombia. Según  estudios hechos en Colombia, Popayán es la mejor ciudad  para aprender el idioma español.
           </div>
         </div>
       </div>

       <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
              Pregrados y Posgrados
            </a>
          </h4>
        </div>
        <div id="collapseFour1" class="panel-collapse collapse">
          <div class="panel-body">
           Te ofrecemos cursos y programas a nivel mundial de pregrados, posgrados y doctorados en todas las áreas y en nuestras instituciones aliadas. Precios competitivos con calidad en la educación.      
         </div>
       </div>
     </div>

     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
            Becas Internacionales
          </a>
        </h4>
      </div>
      <div id="collapseFive1" class="panel-collapse collapse">
        <div class="panel-body">
         Una vez el estudiante haya cursado cualquier idioma en una de nuestras instituciones aliadas, con buen rendimiento, y si desea continuar estudiando en cualquiera de estas, se le ayuda a conseguir una beca hasta de un 50%, o se le da a conocer las becas vigentes que ofrecen algunos  gobiernos del mundo. Gratuitamente se le asesora el trámite académico y de visado.
       </div>
     </div>
   </div>

   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix1">
          Traducción oficial de documentos a otros idiomas
        </a>
      </h4>
    </div>
    <div id="collapseSix1" class="panel-collapse collapse">
      <div class="panel-body">
       Traducimos documentos expedidos en Colombia o provenientes del exterior. Nuestro servicio de traducción oficial es realizado por traductores inscritos en el Ministerio de Relaciones Exteriores de Colombia, con calidad, a un precio justo y con estricto cumplimiento en su entrega.
     </div>
   </div>
 </div>






</div>

</div>
<div class="col-sm-5 text-center">
  <%= image_tag 'imac.png',
  class:"margin-top img-responsive",
    "alt" =>"Generic placeholder image",
    "data-scrollreveal" => "move 100px and enter from the right after 0.55s",
    "width" =>"429"
    %>
  </div>



</div>




</div>

</section>

<!--*********************************************-->

<section id="featured2" class="featured">

  <div class="container">
    <div class ="row content text-center light"><p>Nuestros Servicios</p> </div>
    <div class ="row">
      <div class="row">
        <div class="col-sm-5 text-center">
          <%= image_tag 'imac.png',
          class:"margin-top img-responsive",
            "alt" =>"Generic placeholder image",
            "data-scrollreveal" => "move 100px and enter from the left after 0.55s",
            "width" =>"429"
            %>
          </div>



          <div class="col-sm-7">
            <div class="panel-group" id="accordion">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Año y semestre académico Internacional
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Es un programa de 24 y 36 semanas para bachilleres colombianos que deseen viajar a aprender el idioma inglés. 
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Asesorias para estudiantes
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Obten información precisa, completa y actualizada si quieres estudiar en el exterior, incluyendo exámenes internacionales de inglés. De este modo, podrás tomar decisiones acertadas para tu futuro! 
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      Programa para quinceañeras
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                   Ofrecemos un curso especial de 4 semanas para quinceañeras quienes viajan a estudiar el idioma inglés, participan de actos socio - culturales y conocen los diferentes sitios turísticos de cada país. 
                 </div>
               </div>
             </div>

             <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    Cursos de verano para estudiantes de 12 a 17 años
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  Son programas de vacaciones en instituciones donde estarán bajo el cuidado de personas responsables y podrán disfrutar de la compañía de niños de diferentes nacionalidades del mundo mientras aprenden inglés.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    Teacher Training Program
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  Programa de 4 semanas solo para profesores, donde los profesores podrán capacitarse para enseñar el idioma.
                </div>
              </div>
            </div>

          </div>

        </div>






      </div>
    </div>

  </section>


<!-- Pricing
  ================================================== -->
  <section id="pricing" class="dark">

    <div class="page-header text-center">
      <h2>Instituciones</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="plans">
         <!-- <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan" data-scrollreveal="enter over 1s">
              <div class="plan-title">
                <h2>South Thames College</h2>
                <h6>Cursos de inglés y pregrados</h6>
              </div>

              <ul class="plan-features">
                <li>Institución pública que ofrece cursos de inglés y otros programas académicos. Permite, además, obtener una visa con permiso para trabajar 10 horas semanales. </li>
                
                <li>12 meses</li>
              </ul>
              <div class="plan-cta">
                <p class="plan-buy"><a href="http://www.south-thames.ac.uk/" target="_blank" class="btn">Quiero ver mas!</a></p>
             </div>
            </div>
          </div>-->

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
                <h2>Cursos de inglés</h2>

                
              </div>

              <ul class="plan-features">
                <li><strong>STANTON SCHOOL OF ENGLISH</strong> <br />Escuela privada de inglés en Lóndres Inglaterra, ubicada en la zona uno de la ciudad cerca del Hyde Park y lugares turísticos.</li>
                <li><strong>BEET LANGUAGE CENTRE</strong> <br />Escuela privada de inglés en Bournemouth Inglaterra, ubicada en la costa sur del país.</li>
                <li><strong>WESSEX ACADEMY</strong> <br /> Escuela privada en Poole Inglaterra, región costera del país que cuenta con uno de los puertos marítimos más grandes del mundo</li>
                <li><strong>NEW COLLEGE MANCHESTER</strong> <br /> Escuela privada de inglés en Manchester, ubicada en pleno centro de la ciudad.</li>
                <li><strong>LANGUAGE STUDIES INTERNATIONAL - LSI</strong> <br />Escuelas de idiomas en Reino Unido, Estados Unidos, Canadá, Australia, Nueva Zelanda, Suiza, Francia y Malta.</li>

              </ul>
              <div class="plan-cta" style="background-color:#ffba43">
                <p class="plan-buy"></p>
              </div>
              
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
                <h2>PREGRADOS Y POSGRADOS</h2>
                <h6></h6>
              </div>

              <ul class="plan-features">
                <li><strong>SOUTH THAMES COLLEGE</strong> <br />Institución pública que ofrece cursos de inglés y otros programas académicos. Permite, además, obtener una visa con permiso para trabajar 10 horas semanales. </li>
                <li><strong>LONDON SCHOOL OF BUSINESS AND FINANCE</strong> <br />LSBF ofrece programas enfocados en la industria diseñadas para reflejar las tendencias del mercado global.</li>

              </ul>
              <div class="plan-cta" style="background-color:#ffba43">
                <p class="plan-buy"></p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="plan featured" data-scrollreveal="enter over 1s">
              <div class="plan-title">
                <h2>CURSO DE ESPAÑOL</h2>
                
              </div>

              <ul class="plan-features">
                <li><strong>CAMBRIDGE LANGUAGE CENTRE</strong> <br />
                  La mejor escuela de idiomas ubicada en Popayán, Colombia,
                  dictará clases de español a alumnos extrajeros interesados en aprender el idioma.<br/>

                  Nuestro plan de familias anfitrionas, permitirá que las personas que vengan a la ciudad a aprender español, estén completamente cómodas y disfruten su estadía al máximo en la ciudad. 
                </li>
                
                
              </ul>
              <div class="plan-cta" style="background-color:#ffba43">
                <p class="plan-buy"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

<!-- Gallery
  ================================================== -->
  <section id="gallery">

    <div class="page-header text-center">
      <h3>Galeria</h3>
      <!--<h2> Hey! Conoce Popayán!</h2>-->
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="owl-example" class="owl-carousel">
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb1.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb1.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb2.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb2.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb3.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb3.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb4.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb4.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb5.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb5.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
            </div>
            <div class="item">
              <a href="<%= image_url 'thumbs/thumb6.jpg' %>" class="popup-gallery">
                <%= image_tag "thumbs/thumb6.jpg", "alt" => "Prestige Portfolio Thumbnail Image" %>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>



<!-- Testimonials
  ================================================== -->
  <section id="testimonials" class="dark">

    <div class="page-header text-center">
      <h3>Testimonials</h3>
      <h2>What People are saying</h2>
    </div>

    <div class="container">

      <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <%= image_tag "user-avatar1.jpg", class:"img-circle" %>
                    </div>
                    <div class="col-sm-9">
                      <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"</p>
                      <small>David Parrelli - <a href="http://www.twitter.com/dparrelli" target="_blank">@dparrelli</a></small>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <%= image_tag 'user-avatar2.jpg', class: 'img-circle' %>
                    </div>
                    <div class="col-sm-9">
                      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris."</p>
                      <small>Working Nomads - <a href="http://www.workingnomads.co" target="_blank">@workingnomads</a></small>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <%= image_tag 'user-avatar3.jpg', class: 'img-circle' %>
                    </div>
                    <div class="col-sm-9">
                      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium."</p>
                      <small>Working Nomads - <a href="http://www.workingnomads.co" target="_blank">@workingnomads</a></small>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>

            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control visible-md visible-lg"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control  visible-md visible-lg"><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>






<!-- Call to Action
  ================================================== -->
<!--<section class="cta text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>Start freelancing now.</h2>
        <p><a href="#" class="btn signup" role="button">Get started</a></p>
      </div>
    </div>

  </div>

</section>-->


<!-- Footer
  ================================================== -->
  <footer id="contact" class="footer">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-sm-6 col-md-6">
            <div class="footer-logo">
              <h2>Aston House College</h2>
              <p>Carrera 9 # 18N - 187, Popayán, Cauca<br>+1 (123) 456-7890</p>
              <br>
              <p class="muted">© 2014 Aston House College S.A.S</p>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <a class="icon" href="http://www.twitter.com/Paola_M_Astaiza" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="https://www.facebook.com/pages/STANTON-SCHOOL-OF-ENGLISH/184296251624519?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon" href="http://google.com/+PaolaMorenoAstaiza" target="_blank"><i class="fa fa-google-plus-square"></i></a>
            <a class="icon" href="http://www.workingnomads.co" target="_blank"><i class="fa fa-globe"></i></a>
          </div>


        </div>
      </div>

    </div>

  </footer>

  <div id="login" class="overlay overlay-content">

    <button type="button" class="overlay-close">Close</button>
    <section class="login-part">
      <p class="login-overlay">
        Log In
      </p>
      <form method="post">
        <input class="form-control" type="email" name="u" placeholder="Email" required="required" />
        <input class="form-control" type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Log me in</button>
        <a href="#" class="forgot-pw">Forgot password? We can help!</a>
      </form>
    </section>

  </div>

  <div id="signup" class="overlay overlay-content">

    <button type="button" class="overlay-close">Close</button>
    <section class="login-part">
   <!-- <p class="login-overlay">
      Sign up to Prestige
    </p>-->

    <div id="wufoo-z17c1l8811i1dhl">
      Fill out my <a href="https://paolamastaiza.wufoo.com/forms/z17c1l8811i1dhl">online form</a>.
    </div>
    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
    <script type="text/javascript">var z17c1l8811i1dhl;(function(d, t) {
      var s = d.createElement(t), options = {
        'userName':'paolamastaiza',
        'formHash':'z17c1l8811i1dhl',
        'autoResize':true,
        'height':'437',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z17c1l8811i1dhl = new WufooForm();z17c1l8811i1dhl.initialize(options);z17c1l8811i1dhl.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>


      </section>

    </div>

    <script>
    $(function () {
      $('#myTab a:last').tab('show')
    })

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  e.target // activated tab
  e.relatedTarget // previous tab
});

    $('.dropdown-toggle').dropdown();
    </script>
